<Settings>
    <MinTimeForNewMsg Value="5.0" />
    <MaxTimeForNewMsg Value="15.0" />

    <StartCharge Value="100.0" />

    <UsualSpeed Value="0.003" />
    <TypeSpeed Value="0.009" />
    <ForfeitSpeed Value="0.02" />

    <StartTimeForOneSymbol Value="1.0"/>
    <DeltaTimeForOneSymbol Value="0.9"/>
    <MinTimeForOneSymbol Value="0.2"/>

    <Sounds>
      <FailChar Path="Sound_effects/typo" Volume="1.0" />
      <MessageSuccess Path="Sound_effects/Message_sent_success" Volume="1.0" />
      <MessageTimeout Path="Sound_effects/Message_sent_failure" Volume="1.0" />
      <ContactSelect Path="Sound_effects/menu_select_click" Volume="1.0" />
      <NewMessage Path="Sound_effects/Dasha_voice/Untitled2" Volume="1.0" />
      <Keyboard>
        <Key1 Path="Sound_effects/Keyboard_clicks/typewriter_key_1" Volume="1.0" />
        <Key2 Path="Sound_effects/Keyboard_clicks/keyboard_key_2" Volume="1.0" />
        <Key3 Path="Sound_effects/Keyboard_clicks/keyboard_key_3" Volume="1.0" />
        <Key4 Path="Sound_effects/Keyboard_clicks/keyboard_key_4" Volume="1.0" />
      </Keyboard>
    </Sounds>
</Settings>
