<Settings>
    <MinTimeForNewMsg Value="5.0" />
    <MaxTimeForNewMsg Value="15.0" />

    <StartCharge Value="100.0" />

    <UsualSpeed Value="0.001" />
    <TypeSpeed Value="0.01" />
    <ForfeitSpeed Value="0.02" />

    <StartTimeForOneSymbol Value="1.0"/>
    <DeltaTimeForOneSymbol Value="0.9"/>
    <MinTimeForOneSymbol Value="0.01"/>
</Settings>
